/* For the admin container class we use a flex container and center the items horizontally and ensure that the items stay on the same line */

.admin-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
/*We center the text of the content in the table, and collapse our border between the table cells for a clean table view.
We style the content of the table th & td to have a padding of 8 px align the text to the left and add a border per item displayed*/

.admin-table th, td {
    text-align: center;
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* These are the styling for each button on the admin pages. */

.admin-button {
    padding: 8px 16px;
    max-height: 42px;
    min-width: 80px;
    color: white;
    border: 1px solid #4CAF50;
    background-color: #befabe;
    text-align: start;
}
/*We put our buttons in a flex and display them in columns*/
.button-container {
    display: flex;
    flex-direction: column;
}
/*The update button styling and size,this was created and designed with w3schools*/
.admin-button-update {
    padding: 8px 16px;
    margin: 4px 2px;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    background-color: lightblue;
    color: black;
    border: 2px solid #008CBA;

}
/*The delete button styling and size,this was created and designed with w3schools*/
.admin-button-delete {
    padding: 8px 16px;
    margin: 4px 2px;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    background-color: #f58787;
    color: black;
    border: 2px solid #f44336;
}


