* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 100px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.container {
    display: grid;
    grid-template-rows: 100px 100vh 100px;
    grid-gap: 10px;
    grid-template-areas: 'header' 'main' 'footer';
    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
        min-height: 100vh;

    }

    .footer {
        grid-area: footer;
    }
}