* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 100px;
}

.container {
    display: grid;
    grid-template-rows: 100px minmax(300px, 900px) 100px;
    grid-gap: 10px;
    grid-template-areas: 'header' 'main' 'footer';

    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
        height: calc(100vh - 100px);

    }

    .footer {
        grid-area: footer;
    }
}