/* We give the footer a set height of 100pixels, and make it display over the entire screen with a 100vw
with display flex we space all content evenly in the footer and center the items.
 */

.about-us {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #151515;
}

/* We remove the bullet points by not giving the list style type none and give it a white text  */

.about-us-content li {
    list-style-type: none;
    color: white;
}

/* The logo will have a max width of 10% making it a nice size next to the text */

.socials-logo {
    max-width: 10%;
}

/* We give the about us text a orange color */
.about-us a {
    text-decoration: none;
    color: orange;
}
