.about-us {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #151515;
}

.about-us-content li{
    list-style-type: none;
    color: white;
}
.socials-logo{
    max-width: 10%;
}

.about-us a {
    text-decoration: none;
    color: orange;
}
