.header {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: lightgray;

}

.nav ul{
    display: flex;
    list-style-type: none;
}
.nav ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #5a5b5a;
}

.nav a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #fde3e3;
    transition: all .5s;
}
.nav a:hover::after{
    width: 100%;
}
.Login-button{
    padding: 10px 20px;
    background-color: white;
    color: grey;
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}

