/* This is the general styling for the whole home. */

.main {
    margin: 20px;
}

h3 {
    margin: 50px;

}

.main-img {
    height: 100px;
    width: 100px;
}

.about {
    float: right;

}

.about-coders {
    float: right;
    margin: auto;
    clear: both;
}
