/* This is the general styling for the whole login. */

* {
    margin: 0;
    padding: 0;
}

/* This is the styling for the forums. */

/* The h2 tag here is centered on the login page. */
h2 {
    text-align: center;
}

/* The form tag gets centered by the margin 40% 40% on the left and ride side. It has a width of 20% to fill in. 
The padding is there so it doesnt stick to the left and right side of the form.  */
form {
    width: 20%;
    margin: 0 40% 0 40%;
    padding: 10px 0 10px 0;
}

/* The input has 100% width so it takes full width of the form itself. The margin makes it so it doesnt stick to eachothr the input fields
then we have a padding of 10px that is for the text so that it doesnt stick to the input field itself it has some space around it of 10px. */
input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

/* The button takes 40% of the form where its also centered by using margin. Total of 30% of each side. The padding of 5px makes it so
the text inside has 5px on each side so the button becomes bigger to have some spacing around. The border-radius makes it so the corners are rounded. */
.button {
    width: 40%;
    margin: 0 30% 0 30%;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

/* This is the styling for register. */

/* This margin-top at the register class makes it so there is more spacing on top of the register text.
We have chosen to do this so there is some extra white space between the login and register. */
.register {
    margin-top: 60px;
}

/* Here we have alliged the register text to create an account to be centered to match the other styling of the page. */
.registerText {
    text-align: center;
    text-decoration: none;
}

/* We remove the underline of the a tag and make the color blue. */
.registerText a {
    text-decoration: none;
    color: blue;
}

/* This lets you know if you logged in we have centered the status. */
.login-status {
    text-align: center;
}

/* This form-error class if for the error pop ups. We have given it a red color as it indicates that something went wrong */
.form-error {
    text-align: center;
    color: red;
}

/* This form-success class if for the success pop ups. We have given it a green color as it indicates that something everything went well */
.form-success {
    text-align: center;
    color: green;
}

/* This is the styling for the hobby pop ups. */
.hobby {
    display: block;
}