* {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

form {
    width: 20%;
    margin: 0 40% 0 40%;
    padding: 10px 0 10px 0;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.button {
    width: 40%;
    margin: 0 30% 0 30%;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.register {
    margin-top: 60px;
}

.registerText {
    text-align: center;
    text-decoration: none;
}

.registerText a {
    text-decoration: none;
    color: blue;
}

.login-status {
    text-align: center;
}

.form-error {
    text-align: center;
    color: red;
}

.form-success {
    text-align: center;
    color: green;
}