
li, a, button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: lightgray;
}

ul{
    display: flex;
    list-style-type: none;
}
ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #5a5b5a;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #fde3e3;
    transition: all .5s;
}
li a:hover::after{
    width: 100%;
}
button{
    padding: 10px 20px;
    background-color: white;
    color: gray;
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: 50px;
}

