/* This is the general styling. */

.page-content {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.workexperience, .hobbys, .education, .subjects {
    margin: 10px
}

.userInfo {
    padding: 10px;
}